NGINX_SERVER_NAME=example.com
NGINX_CERTBOT_ROOT=/var/www/certbot
NGINX_STATIC_ROOT=/usr/share/nginx/html
NGINX_STATIC_CACHE_EXPIRES=7d
NGINX_STATIC_CACHE_CONTROL=public, max-age=604800, immutable
NGINX_BACKEND_HOST=backend
NGINX_BACKEND_PORT=8080
NGINX_SSL_CERT=/etc/letsencrypt/live/example.com/fullchain.pem
NGINX_SSL_CERT_KEY=/etc/letsencrypt/live/example.com/privkey.pem
NGINX_SSL_TRUSTED_CERT=/etc/letsencrypt/live/example.com/chain.pem
