@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css');

:root {
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Noto Sans',
    'Segoe UI',
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #15161b;
  background-color: #f3f4fc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #a9eaff;
  text-decoration: inherit;
}
a:hover {
  color: #a9eaff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: inherit;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #15161b;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #73dfff;
  filter: drop-shadow(0 0 0.5em #73dfffaa);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #15161b;
    background-color: #f3f4fc;
  }
  a:hover {
    color: #a9eaff;
  }
  button {
    background-color: #d6f5ff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f3f4fc;
    background-color: #15161b;
  }
  a:hover {
    color: #005063;
  }
  button {
    background-color: #005063;
  }
}
